.navlink {
    transition: 0.3s;
    display: inline-block;
    color:aliceblue
}

.navlink:hover {
    color: #473c57;
    transform: scale(1.1);
}

.deletePetButton {
    flex: 1;
    padding: 12px;
    background-color: white;
    border: 1px solid #e53935;
    color: #e53935;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .deletePetButton:hover {
    background-color: #e53935;
    color: white;
  }
  
  .deletePetButton:active {
    transform: scale(0.95);
  }

  .editPetButton {
    flex: 1;
    padding: 12px;
    background-color: white;
    border: 1px solid #5B4DB7;
    color: #5B4DB7;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .editPetButton:hover {
    background-color: #5B4DB7;
    color: white;
  }
  
  .editPetButton:active {
    transform: scale(0.95);
  }